body {
    max-width: 210mm;
    margin: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
}

h1 {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    text-transform: uppercase;
}

p {
    margin-block-start: 0em;
}

.title {
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #333;
}

.datasheet-area {
    padding: 10mm 10mm 10mm 20mm;
    /* border: 1px solid rgb(82, 76, 76); */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, .15); */
    page-break-after: always;
}

#light-beam {
    display: inline-block;
}

#mounting-option {
    display: inline-block;
}

/* Specifications table - START */

.lum-spec-table {
    text-align: left;
    width: 100%;
}

.lum-spec-table tr.heading td {
    padding: 5px;
    vertical-align: top;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.lum-spec-table tr td {
    padding: 3px;
    padding-left: 5px;
    vertical-align: top;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}

/* Specifications table - END */

/* Configuration guide table - START */

.config-guide .config-table {
    background: #eeeeee;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.config-guide .config-table td {
    padding: 3px;
    padding-left: 5px;
    font-size: 9px;
    line-height: 12px;
}

.config-guide .config-table td:nth-child(even) {
    background-color: #e0e0e0;
}

.config-guide .config-table tr.heading td {
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px solid #9E9E9E;
    font-size: 12px;
    font-weight: bold;
}

.config-guide .config-table tr.subheading td {
    border-bottom: 1px solid #9E9E9E;
}

.config-guide .config-table tr.heading td.empty-cell {
    background: #fff;
    border-bottom: none;
}

.config-guide .config-table tr.subheading td.empty-cell {
    background: #fff;
    border-bottom: none;
}

div.config-guide table.config-table td.config-descr-cell {
    background: #fff;
    text-align: left;
    font-weight: normal;
}

/* Configuration guide table - END */

/* Images style - START */
.banner-img {
    line-height: 0px;
    margin-left: -20mm;
    margin-top: -10mm;
}

.banner-img2 {
    display: none;
    line-height: 0px;
    margin-left: -20mm;
    margin-top: -10mm;
}

.product-img {
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

.ldc-img {
    line-height: 0px;
}

/* #product-img {
    width: 70mm;
    border: 1px solid #ddd;
} */

/* Images style - END */

/*---------------------*/
.general-info-container {
    padding-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* Detailed specacteristics of the selected luminaire */

#short-description {
    text-align: justify;
    box-sizing: border-box;
    flex: 2;
    padding-right: 20px;
    /* padding-bottom: 10px; */
    /* border: 1px solid #ddd; */
}

.lum {
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lum-spec {
    padding-bottom: 5px;
    padding-right: 20px;
    box-sizing: border-box;
    flex: 1 1 60%;
}

.lum-images {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lum-ldc {
    padding-bottom: 20px;
}

.lum-ldc-header {
    padding: 5px;
    vertical-align: top;
    background: #eee;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

@media print {
    body {
        box-shadow: none;
    }

    .banner-img2 {
        display: block;
    }
}